* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  .boton{
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 5px;
    border: 1px solid #000000;
    color: #ffffff;
    background: #3c3c3c;
    
    }
    
    .boton:hover{
        border: 0px;
        opacity: 0.7;
    }
    .boton.azul{
        background: #3498db ;
    
    }
    .boton.rojo{
        background: #e74c3c;
    }
    .boton.verde{
        background: #1abc9c;
    }
    .boton.mediano{
        font-size: 18px;
    
    }
    
    .boton.redondo{
        border-radius: 30%;
    }